[Desktop Entry]
Version=1.0
Type=Application
Name=MySQL Workbench
Comment=MySQL Database Design, Administration and Development Tool
Exec=mysql-workbench
Icon=mysql-workbench
Path=~
Terminal=false
StartupNotify=false
